body{
  padding-top: 60px;
  font-size: 2em;
}
.logo {
  height: 30px;
}
.navbar-brand {
  height: auto;
}
.full-width {
  width: 100%;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin-bottom: 50px;
}
h1::after {
  content: ' ';
  width: 50px;
  height: 2px;
  background-color: #ee1c25;
  display: block;
}
.tab-content {
  margin-top: 10px;
}
footer {
  background-color: #2e313d;
  color: #fff;
}
.quick-link {
  background-color: #ee1c25;
  padding: 10px;
  font-size: .8em;
}
.quick-link a {
  color: #fff;
}
.quick-link a:hover {
  color: #c1c1c1;
}
.social-media {
  padding: 10px;
}
.copyright {
  font-size: .6em;
}
.readmore {
  font-size: .7em;
  color: #ee1c25;
}
.carousel-caption.right {
  background-color: rgba(0, 131, 201, 0.6);
  left: auto;
  width: 30%;
  right: 10%;
  top: 40%;
  bottom: auto;
}
.carousel-caption.left {
  background-color: rgba(0, 131, 201, 0.6);
  right: auto;
  width: 30%;
  left: 10%;
  top: 40%;
  bottom: auto;
}
